.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

data/processed/
models/
*.parquet
*.csv
*.pkl
*.joblib

.vscode/
.idea/
notebooks/old/
docs/Lectures/
docs/references/
FAHM_guided/
docs/starting_session_workflow.md
docs/workflow_mapping.md